<h1>Docking Report</h1>

[% IF proteins.size == 1 -%]
The submitted protein was docked against [% n_ligands %] ligands using the DiffDock docking tool <cite>[1]</cite>.  <p>
For each docking result between the protein and the given igand we report the following statistics:
[% ELSE -%]
The following proteins were docked against [% n_ligands %] ligands using the DiffDock docking tool <cite>[1]</cite>. The links below take you to the subsection of the
report for the given protein. <p>
For each docking result for a given protein and ligand we provide the following statistics:
[% END -%]
<dl>
<dt>Rank</dt>
<dd>The relative rank of this result as assigned by DiffDock</dd>

<dt>Confidence score</dt>
<dd>Confidence score of this result as assigned by DiffDock</dd>

<dt>CNN Score</dt>
<dd>CNN score of this result as assigned by Gnina <cite>[2]</cite></dd>

<dt>CNN Affinity</dt>
<dd>CNN affinity of this result as assigned by Gnina</dd>

<dt>Vinardo Score</dt>
<dd>Vinardo score of this result as assigned by Gnina</dd>

</dl>

[% IF proteins.size > 1 -%]
<table border="1">
<tr>
<th>PDB ID</th>
<th>Gene</th>
<th>Method</th>
<th>BV-BRC ID</th>
<th>Product</th>
</tr>
[% FOR prot IN proteins -%]
<tr>
<td><a href="#[% prot.pdb_id %]">[% prot.pdb_id %]</a></td>
<td>[% prot.gene.join(", ") %]</td>
<td>[% prot.method.join(", ") %]</td>
<td><a href="https://www.bv-brc.org/view/Feature/[% prot.patric_id %]" target="blank"></a>[% prot.patric_id %]</td>
<td>[% prot.product.0 %]</td>
</tr>
[% END -%]
</table>
[% END -%]
[% FOR prot IN proteins -%]
<hr>
<h2>[% prot.pdb_id %]: [% prot.title %]</h2>

<h2>Successfully docked ligands</h2>
Following is the top-ranked conformation for each ligand that docked successfully with the protein. The ligand ID is linked to the list
of all conformations for that docking result. The "structure" link will display a structure viewer of the
ligand docked to the protein.<p>
<table>
<tr>
<th>Ligand ID</th>
<th>Viewer</th>
<th>Confidence</th>
<th>CNN Score</th>
<th>CNN Affinity</th>
<th>Vinardo</th>
<th>SMILES</th>
</tr>
[% FOR ligand IN ligand_info -%]
[% SET this_result = results.${prot.pdb_id}.${ligand.id} -%]
[% IF this_result.size > 0 -%]
[% SET res = this_result.0 -%]
<tr>
<td><a href="#[% prot.pdb_id %]/[% ligand.id %]">[% ligand.id %]</a></td>
<td><a href="[% structure_base %]=[% output_folder %]/[% res.output_folder %]/[% res.comb_pdb %]" target="blank">Structure</a></td>
<td>[% this_result.0.score FILTER format("%.2f") %]</td>
<td>[% this_result.0.CNNscore FILTER format("%.2f") %]</td>
<td>[% this_result.0.CNNaffinity FILTER format("%.2f") %]</td>
<td>[% this_result.0.Vinardo FILTER format("%.2f") %]</td>
<td>[% ligand.smiles %]</td>
</tr>
[% END -%]
[% END -%]
</table>
<hr>

<h2>Per-ligand Details</h2>

[% FOR ligand IN ligand_info -%]
[% SET this_result = results.${prot.pdb_id}.${ligand.id} -%]

<h3><a name="[% prot.pdb_id %]/[% ligand.id %]">[% ligand.id %]: [% ligand.smiles %]</a></h3>

Ranked docking conformations:<p>
<table>
<tr>
<th>Rank</th>
<th>Viewer</th>
<th>Confidence</th>
<th>CNN Score</th>
<th>CNN Affinity</th>
<th>Vinardo</th>
</tr>
[% FOR res IN results.${prot.pdb_id}.${ligand.id} %]
<tr>
<td>[% res.rank %]</td>
<td><a target="blank" href="[% structure_base %]=[% output_folder %]/[% res.output_folder %]/[% res.comb_pdb %]">Structure</a></td>
<td>[% res.score %]</td>
<td>[% res.CNNscore FILTER format("%.2f")  %]</td>
<td>[% res.CNNaffinity FILTER format("%.2f") %]</td>
<td>[% res.Vinardo FILTER format("%.2f") %]</td>
</tr>
[% END %]
</table>
[% END -%]
[% END -%]

<h3>References</h3>

1. Corso, Gabriele, Arthur Deng, Benjamin Fry, Nicholas Polizzi, Regina
Barzilay, and Tommi Jaakkola. "Deep Confident Steps to New Pockets:
Strategies for Docking Generalization." arXiv preprint
arXiv:2402.18396 (2024).<p>

2. McNutt, Andrew T., Paul Francoeur, Rishal Aggarwal, Tomohide Masuda,
Rocco Meli, Matthew Ragoza, Jocelyn Sunseri, and David Ryan
Koes. "GNINA 1.0: molecular docking with deep learning." Journal of
cheminformatics 13, no. 1 (2021): 43.<p>



